name: YouTrack-Staging

on:
  pull_request:
    types:
      - labeled

jobs:
  build:
    if: github.event.label.name == 'Staging'
    runs-on: ubuntu-latest
    steps:
      - uses: bloobirds-it/action-youtrack-move@v1.0.0
        with:
          github-token: ${{ secrets.MyWorkflow }}
          yt-url: ${{ secrets.YOUTRACK_URL }}
          yt-token: ${{ secrets.YOUTRACK_TOKEN }}
          yt-project-id: "SD"
          yt-column-triggers: "Test"
          yt-column-target: "Staging"

      - uses: actions/checkout@v2
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.MyWorkflow  }}
          labels: automerge